          <div class="panel panel-info">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">{{client.name}}</h3>
            </div> -->
            <div class="panel-body">
              <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"><div style="height: 50px"></div><a href="#"><img alt="User Pic" src="pics/upload-image.png" class="img-circle img-responsive"></a></div>
                
            <!--     <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div> -->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><input type="text" ng-model="newClient.name"/></td>
                      </tr>
                      <tr>
                        <td>Height:</td>
                        <td><input type="text" ng-model="newClient.height"/></td>
                      </tr>
                      <tr>
                        <td>Weight:</td>
                        <td><input type="text" ng-model="newClient.weight"/></td>
                      </tr>
                      <tr>
                        <td>BMI:</td>
                        <td><input type="text" ng-model="newClient.BMI"/></td>
                      </tr>
                      <tr>
                        <td>bodyFatPercentage:</td>
                        <td><input type="text" ng-model="newClient.bodyFat"/></td>
                      <tr>
                        <td>Address:</td>
                        <td><input type="text" ng-model="newClient.address"/></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><input type="text" ng-model="newClient.email"/></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td><input type="text" ng-model="newClient.phone"></td>
                      </tr>
                      <tr>
                        <td>Exercise Notes</td>
                        <td><textarea type="text" ng-model="newClient.notes" rows="5" ></textarea></td>
                      </tr>
                        <button ng-click="addClient()" type="submit" value="add" class="btn btn-info btn-lg ccButton">add</button>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="panel-footer"></div>
          </div>
        </div>
      </div>
    </div>