  <div class="panel panel-info">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">{{client.name}}</h3>
            </div> -->
            <div class="panel-body">
            <h3 class="pull-center">Client Profile</h3>
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"><div style="height: 50px"></div><a href="#"><img alt="User Pic" src="pics/upload-image.png" class="img-circle img-responsive"></a></div>
                
        
                <div class=" col-md-9 col-lg-9 "> 
                  <form ng-submit="addClient()">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Name:</td>
                          <td><input type="text" ng-model="client.name"/></td>
                        </tr>
                        <tr>
                          <td>Height:</td>
                          <td><input type="text" ng-model="client.body.height"/></td>
                        </tr>
                        <tr>
                          <td>Weight:</td>
                          <td><input type="text" ng-model="client.body.weight"/></td>
                        </tr>
                        <tr>
                          <td>BMI:</td>
                          <td><input type="text" ng-model="client.body.BMI"/></td>
                        </tr>
                        <tr>
                          <td>bodyFatPercentage:</td>
                          <td><input type="text" ng-model="client.body.bodyFatPercentage"/></td>
                        </tr>
                         <tr>
                          <td>Address:</td>
                          <td><input type="text" ng-model="client.address"/></td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><input type="text" ng-model="client.email"/></td>
                        </tr>
                        <tr>
                         <td>Phone Number</td>
                         <td><input type="text" ng-model="client.phone"></td>
                        </tr>
                        <tr>
                          <td>Exercise Notes</td>
                          <td><textarea type="text" ng-model="client.notes" rows="5" ></textarea></td>
                        </tr>

                      </tr>
                      <!-- <input type="submit" value="add" class="btn btn-info btn-lg ccButton"> -->
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
      </div>
    </div>