<div class="dashtitle title" style="height: 120px">
  <h3 class="actvapp"><a ui-sref="dashboard" style="text-decoration: none">ACTV<span class="app">APP</span></a></h3>
  <button ui-sref="home" class="btn btn-primary btn-sm pull-right logOff">log off</button><br>
</div>
<div style="height: 130px; "></div>  
<div class="container">
  <div class="row">
    <div class="col-sm-2 dashFind"><input type="text" placeholder="Find Client" ng-model="findFriend.name" class="dashInput"></div>
    <div style="padding-bottom: 20px" class="col-sm-10 text-right pull-right">
     <button class="btn btn-primary btn-lg" ng-click="openAdd()">Add New Client</button><br>
   </div>
 </div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Clients
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <!-- <th class="text-center">Address</th> -->
                  <th class="text-left">Height</th>
                  <th class="text-left">Weight</th>
                  <th class="text-left">BMI</th>
                  <th class="text-left">bodyFatPercentage</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row">
          <div style="padding-top:0;" class="positionList">
            <div class="list-group">
              <a ng-repeat="client in clients | filter: findFriend.name" ng-click="openSee(client)" class="list-group-item">
                <div class="row">
                  <div class="col-xs-2">{{client.name}}</div>
                  <!-- <div class="col-xs-2">{{client.address}}</div> -->
                  <div class="col-xs-2">{{client.body.height}}</div>
                  <div class="col-xs-2">{{client.body.weight}}</div>
                  <div class="col-xs-2">{{client.body.BMI}}</div>
                  <div class="col-xs-2 dashDelete">{{client.body.bodyFatPercentage}}<div class="deleteButton pull-right"><button ng-click="$event.stopPropagation(); areYouSure(client._id)" class="myButton">delete</button></div></div>     
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>